<h1>Welcome to XSS Demo</h1>
<p>Explore the different types of Cross Site Scripting vulnerabilities and their defenses.</p>

<ul class="list-group mt-3">
    <li class="list-group-item">
        <a href="/ProtectedDOM/Message"><i class="fas fa-shield-alt"></i> Protected DOM</a>
    </li>
    <li class="list-group-item">
        <a href="/VulnerableDOM/Message"><i class="fas fa-exclamation-triangle"></i> Vulnerable DOM</a>
    </li>
    <li class="list-group-item">
        <a href="/ProtectedReflected/Search"><i class="fas fa-shield-alt"></i> Protected Reflected</a>
    </li>
    <li class="list-group-item">
        <a href="/VulnerableReflected/Search"><i class="fas fa-exclamation-triangle"></i> Vulnerable Reflected</a>
    </li>
    <li class="list-group-item">
        <a href="/ProtectedStored/Index"><i class="fas fa-shield-alt"></i> Protected Stored</a>
    </li>
    <li class="list-group-item">
        <a href="/VulnerableStored/Index"><i class="fas fa-exclamation-triangle"></i> Vulnerable Stored</a>
    </li>
</ul>
