<h2 id="title" class="text-center">Protected Reflected Search</h2>

<h3 class="my-3">You searched for: @ViewBag.Term</h3>

<!-- Search form -->
<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="get" action="/ProtectedReflected/Search">
            <div class="form-group">
                <label for="term">Search:</label>
                <input type="text" class="form-control" name="term" id="term" required>
            </div>
            <input type="submit" class="btn btn-primary" value="Search">
        </form>
    </div>
</div>
